<h1>New Entry</h1>


<form>
  <label>Entry title</label>
  <input type="text" name="title">
  
  <label>Entry description</label>
  <input type="text" name="description">

  <label>Entry date</label>
  <input type="date" name="posted_on">


  <button>Submit</button>
</form>