<h1>New Entry for <%= @place["name"]%> </h1>




<form action="/entries" method="post">
 
    <p>
    <label for="title">Entry Title</label>
    <input type="text" name="title" id="title">
  </p>

  <p>
    <label for="description">Entry Description</label>
    <input type="text" name="description" id="description">
  </p>
  
  <p>
    <label for="posted_on">Entry Date</label>
    <input type="date" name="posted_on" id="posted_on">
  </p>  

 <p>
   
    <input type="hidden" name="place_id" id="place_id" value="<%= params["place_id"]%>">
  </p>

  <button>Submit</button>
</form>


<p>
  <a href="/places">Back to All Places</a>
</p>