<h1>Place Details</h1>

<h1><%= @place["name"] %></h1>



  <p>
    <label for="place_id">place_id</label>
    <input type="text" name="place_id" id="place_id" value=<%= @place["id"] %>>
  </p>
<p>
  <a href="/entries/new"> New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>